In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data.csv', delimiter="\t", header=None)

In [6]:
df

                 0
0    31594   93577
1    46608   24099
2    78052   70524
3    52680   49933
4    92973   56887
..             ...
995  72704   20997
996  78327   63698
997  62435   56887
998  84014   77208
999  51255   53718

[1000 rows x 1 columns]

In [110]:
total_sum = 0
for i, row in df.iterrows():
    row1 = row[0][0:5]
    row2 = row[0][8:13]
    lrow1 = [n for n in row1]
    lrow2 = [n for n in row2]

    row_sum = 0
    while len(lrow1) > 0:
        distance = 0
        nrow1 = int(min(lrow1))

        lrow1.remove(str(nrow1))

        nrow2 = int(min(lrow2))
        lrow2.remove(str(nrow2))
        distance = abs(nrow1 - nrow2)
        row_sum += distance
    total_sum += row_sum

In [127]:
left = []
right = []
total_distance = 0
for i, row in df.iterrows():
    row_left = int(row[0][0:5])
    row_right = int(row[0][8:13])
    left.append(row_left)
    right.append(row_right)

while len(left) > 0:
    nleft = min(left)
    nright = min(right)
    left.remove(nleft)
    right.remove(nright)
    distance = abs(nleft - nright)
    total_distance += distance

total_distance

1320851