In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('data.csv', delimiter=' ', header=None)

In [8]:
df

      0   1   2   3   4     5     6     7
0    45  47  48  50  51  52.0  54.0  51.0
1    23  26  27  30  30   NaN   NaN   NaN
2    40  41  44  47  49  51.0  55.0   NaN
3    12  15  18  19  26   NaN   NaN   NaN
4    78  81  83  84  83  84.0   NaN   NaN
..   ..  ..  ..  ..  ..   ...   ...   ...
995  49  52  54  56  58  61.0  63.0   NaN
996  91  88  85  82  81   NaN   NaN   NaN
997  23  22  21  19  17  15.0  13.0   NaN
998  72  73  75  77  78  80.0  81.0   NaN
999  73  72  71  70  68  66.0   NaN   NaN

[1000 rows x 8 columns]

In [14]:
safe_reports = 0
def is_safe(report):
    is_increasing = all(0 < report[i + 1] - report[i] <= 3 for i in range(len(report) - 1))
    is_decreasing = all(0 < report[i] - report[i + 1] <= 3 for i in range(len(report) - 1))

    
    return is_decreasing or is_increasing

for i, row in df.iterrows():
    report = row.dropna().tolist()

    if is_safe(report):
        safe_reports += 1
        continue
    
    for i in range(len(report) - 1):
        sub_report = report.copy()
        sub_report.pop(i)
        if is_safe(sub_report):
            safe_reports += 1
            break

In [15]:
safe_reports

686

After more than 1.5 hours of trying, I couldn't figure it out. Unfortunately, I had to use help from ChatGPT. Below is the improved version.

In [16]:
safe_reports = 0
def is_safe(report):
    is_increasing = all(0 < report[i + 1] - report[i] <= 3 for i in range(len(report) - 1))
    is_decreasing = all(0 < report[i] - report[i + 1] <= 3 for i in range(len(report) - 1))

    
    return is_decreasing or is_increasing

for i, row in df.iterrows():
    report = row.dropna().tolist()

    if is_safe(report):
        safe_reports += 1
        continue
    
    for i in range(len(report)):
        sub_report = report[:i] + report[i + 1:]
        if is_safe(sub_report):
            safe_reports += 1
            break

In [17]:
safe_reports

692